In [1]:
# download the CSV datafile for a state. Now, try to import that data into Python.

import os
print(os.getcwd())

C:\Users\vivek

In [9]:
import pandas as pd
df = pd.read_csv("all_040_in_01.P1.csv")
#df.head
df
df.to_csv(index=False)

,GEOID,SUMLEV,STATE,COUNTY,CBSA,CSA,NECTA,CNECTA,NAME,POP100,HU100,POP100.2000,HU100.2000,P001001,P001001.2000
0,1,40,1,NaN,NaN,NaN,NaN,NaN,Alabama,4779736,2171853,4447100,1963711,4779736,4447100

In [8]:
# Can you export the dataframe created by the code in Listing 2-8 to CSV?

import pandas as pd 
names = ['Bob','Jessica','Mary','John','Mel'] 
grades = [76,95,77,78,99] 
bsdegrees = [1,1,0,0,1] 
msdegrees = [2,1,0,0,0] 
phddegrees = [0,1,0,0,0] 
Degrees = zip(names,grades,bsdegrees,msdegrees,phddegrees) 
columns = ['Names','Grades','BS','MS','PhD'] 
df = pd.DataFrame(data = Degrees, columns=['Names','Grades','BS','MS','PhD']) 
df
df.to_csv(index=False)

'Names,Grades,BS,MS,PhD\r\nBob,76,1,2,0\r\nJessica,95,1,1,1\r\nMary,77,0,0,0\r\nJohn,78,0,0,0\r\nMel,99,1,0,0\r\n'

In [10]:
import pandas as pd
df = pd.read_csv("all_040_in_01.P1.csv")
#data.head
df
df.to_csv(index=False)

'GEOID,SUMLEV,STATE,COUNTY,CBSA,CSA,NECTA,CNECTA,NAME,POP100,HU100,POP100.2000,HU100.2000,P001001,P001001.2000\r\n1,40,1,,,,,,Alabama,4779736,2171853,4447100,1963711,4779736,4447100\r\n'